.form-container {
  grid-area: main;
  background: #222222; }
  .form-container .form-section {
    padding: 80px 0 0 0;
    display: flex;
    flex-direction: column; }
    .form-container .form-section .form-content {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white; }
      .form-container .form-section .form-content h1 {
        border-bottom: 1px solid #e6b821;
        padding: 5px; }
      .form-container .form-section .form-content span {
        text-align: center;
        padding: 15px; }
    .form-container .form-section .contact-box {
      width: 85%;
      align-self: center;
      background-color: #e6b821;
      margin: 10px 0;
      border-radius: 4px;
      color: black;
      padding: 20px;
      display: flex;
      flex-direction: column; }
      .form-container .form-section .contact-box .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center; }
        .form-container .form-section .contact-box .contact-info span {
          font-weight: bold;
          font-size: 30px; }
        .form-container .form-section .contact-box .contact-info p {
          font-size: 17px;
          padding: 5px; }
        .form-container .form-section .contact-box .contact-info .info-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .form-container .form-section .contact-box .contact-info .info-box .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            background: #ffffff;
            margin: 5px;
            border-radius: 5px;
            padding: 5px;
            text-align: center; }
            .form-container .form-section .contact-box .contact-info .info-box .box span {
              font-size: 20px;
              font-weight: bold;
              text-transform: uppercase;
              margin: 15px; }
            .form-container .form-section .contact-box .contact-info .info-box .box i {
              font-size: 30px; }
      .form-container .form-section .contact-box .contact-form {
        display: flex;
        width: 100%;
        background: #fafafa;
        border-radius: 5px;
        padding: 15px;
        margin-top: 10px; }
        .form-container .form-section .contact-box .contact-form form {
          display: flex;
          flex-direction: column;
          width: 100%; }
        .form-container .form-section .contact-box .contact-form label {
          font-size: 18px; }
        .form-container .form-section .contact-box .contact-form input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid #e6b821;
          background-color: #fafafa; }
          .form-container .form-section .contact-box .contact-form input:focus {
            outline: none; }
        .form-container .form-section .contact-box .contact-form textarea {
          padding: 7px;
          border: none;
          border-bottom: 1px solid #e6b821;
          background-color: #fafafa;
          resize: none; }
          .form-container .form-section .contact-box .contact-form textarea:focus {
            outline: none; }
        .form-container .form-section .contact-box .contact-form .btn-form {
          background-color: #e6b821;
          color: white;
          font-size: 15px;
          font-weight: bold;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-top: 10px; }

@media screen and (min-width: 768px) {
  .form-container {
    grid-area: main; }
    .form-container .form-section .form-content > h1 {
      border-bottom: 1px solid #e6b821;
      padding: 5px; }
    .form-container .form-section .contact-box {
      flex-direction: row; }
      .form-container .form-section .contact-box .contact-info span {
        font-size: 35px; }
      .form-container .form-section .contact-box .contact-info .info-box {
        flex-direction: row;
        margin-top: 20px; }
      .form-container .form-section .contact-box .contact-info .info-box .box {
        justify-content: space-around;
        width: 25%;
        height: 80%;
        background: white;
        margin: 20px;
        border-radius: 10px;
        padding: 20px; }
      .form-container .form-section .contact-box .contact-form {
        width: 50%; } }
