$color_1: rgb(230, 184, 33);
$color_2: white;
$color_3: black;
$color_4: #fff;
$font-family_1: 'Nunito Sans';
$font-family_2: 'Bebas Neue';
$font-family_3: monospace;
$background-color_1: rgb(34, 34, 34);
$background-color_2: rgb(23, 23, 23);
$background-color_3: rgb(230, 184, 33);
$background-color_4: rgb(250, 250, 250);
$background-color_5: rgb(15, 15, 15);
$background-color_6: rgba(0, 0, 0, 0.5);
